name: mix

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [master]
  schedule:
    - cron: "42 9 * * *"

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: test

    strategy:
      matrix:
        elixir: [1.18-otp-27]
        otp: [28, 27]

    services:
      localstack:
        image: localstack/localstack:4.4.0
        ports:
          - 4566:4566
        env:
          SERVICES: kinesis,dynamodb
          KINESIS_LATENCY: 0
          options: >-
            --health-cmd "curl -f http://localhost:4566/_localstack/health || exit 1"
            --health-interval 30s
            --health-timeout 10s
            --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - id: beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}-
            test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-refs/heads/master-

      - run: mix deps.get --only $MIX_ENV
      - run: mix compile --warnings-as-errors
      - run: mix test

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: 1.18-otp-27
          otp-version: 28
      - run: elixir -v
      - run: mix format --check-formatted
